.headerContainer {
  border-bottom: 1px solid #ffffff;
  padding: 24px 120px;
  width: 1440px;
  height: 68px;
  background-color: #dadde1;
}
.header {
  display: flex;
  justify-content: space-between;
}
